<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="2.4" targetFramework="net40-Client" />
  <package id="Microsoft.Bcl" version="1.0.19" targetFramework="net40-Client" />
  <package id="Microsoft.Bcl.Async" version="1.0.165" targetFramework="net40-Client" />
  <package id="Microsoft.Bcl.Build" version="1.0.13" targetFramework="net40-Client" />
  <package id="WindowsAPICodePack" version="1.1.0" targetFramework="net40-client" />
  <package id="WindowsAPICodePackShell" version="1.1.0" targetFramework="net40-client" />
</packages>